<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">

    <!-- axios -->
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>

    <!-- jquery -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

    <scrip src="/js/signup.js"></scrip>

    <title>Title</title>
</head>
<body>
    <h1>회원가입</h1>
    <form action="/api/user/signup" method="post">
        <div>
            <div>username</div>
            <input type="text" name="" placeholder="username">

            <div>password</div>
            <input type="password" name="password" placeholder="password">

            <div>email</div>
            <input type="text" name="email" placeholder="email">
            
            <div>
                <input id="admin-check" type="checkbox" name="admin">관리자
                <input id="admin-token" type="password" name="adminToken" placeholder="관리자 암호">
            </div>

            <button id="signup-submit">회원가입</button>
        </div>
    </form>
</body>
</html>